.Page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 5px;
}


.null-margin {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
